$checkbox-checked-background-color: white;
$checkbox-checked-color: black;
$checkbox-border-color: silver;

.checkbox {
    label {
        display: flex;
        flex-direction: row;
        align-items: center;

        position: relative;
        padding-left: 30px;

        height: 30px;

        &:before {
            position: absolute;
            top: 4px;
            left: 0px;
            width: 20px;
            height: 20px;
            border: 1px solid $checkbox-border-color;
            content: "";
            transition: all 120ms linear;
            font-size: 20px;
        }
    }

    input {
        display: none;
    }

    &.checkbox-checked {
        label {
            &:before {
                background: $checkbox-checked-background-color;
                color: $checkbox-checked-color;
                content: "\f00c";
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: FontAwesome;
                font-size: 10px;
                font-style: normal;
                font-weight: normal;
                text-decoration: inherit;
            }
        }
    }

}
